
#########################
# Flake8 Configuration  #
# (.flake8)             #
#########################
[flake8]
ignore =
    S301
    S403
    S404
    S603
    W503
    E203
    E402
    DAR101
    DAR201
    N400
    S101
exclude =
    .tox,
    .git,
    __pycache__,
    docs/conf.py,
    build,
    dist,
    *.pyc,
    *.bib,
    *.egg-info,
    .cache,
    .eggs,
    data.
    src/ptwt/__init__.py
max-line-length = 88
max-complexity = 20
import-order-style = pycharm
application-import-names =
    ptwt
    tests
