
#########################
# Flake8 Configuration  #
# (.flake8)             #
#########################
[flake8]
ignore =
    S301 # pickle
    S403 # pickle
    S404
    S603
    W503 # Line break before binary operator (flake8 is wrong)
    E203 # Ignore the spaces black puts before columns.
    E402 # allow path extensions for testing.
    DAR101
    DAR201
    N400 # flake and pylance disagree on linebreaks in strings.
    S101 # asserts are ok in test.
exclude =
    .tox,
    .git,
    __pycache__,
    docs/conf.py,
    build,
    dist,
    *.pyc,
    *.bib,
    *.egg-info,
    .cache,
    .eggs,
    data.
    src/ptwt/__init__.py
max-line-length = 88
max-complexity = 20
import-order-style = pycharm
application-import-names =
    ptwt
    tests
